@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.react-modal__content {
  background-color: rgb(153 153 153) !important;
}
.divider {
  background-color: rgba(#fff, 0.25);
  height: 1.25rem;
  margin-left: 0.5rem;
  margin-right: 0.75rem;
  width: 1px;
}
.menu-item {
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  height: 1.75rem;
  margin-right: 0.25rem;
  padding: 0.25rem;
  width: 1.75rem;
}
.menu-item svg {
  fill: currentColor;
  height: 100%;
  width: 100%;
}
.menu-item:hover,
.menu-item.is-active {
  background-color: #303030;
}
.editor {
  background-color: #fff;
  border: 3px solid #0d0d0d;
  border-radius: 0.75rem;
  color: #0d0d0d;
  display: flex;
  flex-direction: column;
  max-height: 38rem;
  /* Some information about the status */
}
.editor__header {
  align-items: center;
  background: #0d0d0d;
  border-bottom: 3px solid #0d0d0d;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  padding: 0.25rem;
}
.editor__content {
  flex: 1 1 auto;
  overflow-x: hidden;
  height: 400px;
  overflow-y: auto;
  padding: 1.25rem 1rem;
  -webkit-overflow-scrolling: touch;
}
.editor__footer {
  align-items: center;
  border-top: 3px solid #0d0d0d;
  color: #0d0d0d;
  display: flex;
  flex: 0 0 auto;
  font-size: 12px;
  flex-wrap: wrap;
  font-weight: 600;
  justify-content: space-between;
  padding: 0.25rem 0.75rem;
  white-space: nowrap;
}
.editor__status {
  align-items: center;
  border-radius: 5px;
  display: flex;
}
.editor__status::before {
  background: rgba(13, 13, 13, 0.5);
  border-radius: 50%;
  content: " ";
  display: inline-block;
  flex: 0 0 auto;
  height: 0.5rem;
  margin-right: 0.5rem;
  width: 0.5rem;
}
.editor__status--connecting::before {
  background: #616161;
}
.editor__status--connected::before {
  background: #b9f18d;
}
.editor__name button {
  background: none;
  border: none;
  border-radius: 0.4rem;
  color: #0d0d0d;
  font: inherit;
  font-size: 12px;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
}
.editor__name button:hover {
  background-color: #0d0d0d;
  color: #fff;
}
.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}

.ProseMirror {
  height: 100%;
  outline-style: none;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #636d78 #f5f5f5;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #f3f3f2;
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: #636d78;
  border-radius: 20px;
  border: 3px solid #f5f5f5;
}

.scrollbar::-webkit-scrollbar {
  height: 6px;
}
